NODE_ENV=development
PORT=3000
CLIENT_ORIGIN=https://multiplayergametest.onrender.com
CLIENT_ORIGINS=https://multiplayergametest.onrender.com
SERVE_CLIENT=true
DB_DRIVER=postgres
LOCAL_DB_FILE=postgresql://multiplayer_game_db_user:mRAhx0FAFQshB1vSGrLPx3Kwh7lWjmkq@dpg-d8q59q3eo5us73eklq3g-a/multiplayer_game_db
PG_POOL_SIZE=10
